<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <queries>
        <package android:name="kr.co.bluebird.android.bbapi.barcodelibconnector" />
    </queries>

    <application
        android:name=".MobileEntryApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NTMobileEntry"
        tools:targetApi="31">
<!--        <activity-->
<!--            android:name=".MainActivity"-->
<!--            android:exported="true">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
<!--            <meta-data-->
<!--                android:name="android.app.lib_name"-->
<!--                android:value="" />-->
<!--        </activity>-->

        <activity
            android:name=".ui.HomeSelectorActivity"
            android:exported="true"
            android:launchMode="singleTask"
            tools:ignore="Instantiatable">
            <intent-filter android:exported="false">
                <action
                    android:name="android.intent.action.MAIN"
                    android:exported="true" />
                <category
                    android:name="android.intent.category.LAUNCHER"
                    android:exported="true" />
            </intent-filter>
        </activity>

        <!-- HomeActivity is disabled by default to have possibility to get the default launcher -->
        <!-- which was set before installing our app. Otherwise, the default launcher will be reset -->
        <activity
            android:name=".ui.HomeActivity"
            android:clearTaskOnLaunch="true"
            android:enabled="false"
            android:exported="true"
            android:launchMode="singleTask"
            android:stateNotNeeded="true"
            tools:ignore="Instantiatable">

            <intent-filter android:exported="true">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- FakeHomeActivity is used to show the launcher selector by enabling/disabling it -->
        <activity
            android:name=".ui.FakeHomeActivity"
            android:enabled="false"
            android:exported="true"
            tools:ignore="Instantiatable">
            <intent-filter android:exported="false">
                <action
                    android:name="android.intent.action.MAIN"
                    android:exported="true" />

                <category
                    android:name="android.intent.category.HOME"
                    android:exported="true" />
                <category
                    android:name="android.intent.category.DEFAULT"
                    android:exported="true" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.InitActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="Instantiatable" />

        <activity
            android:name=".ui.LoginActivity"
            android:exported="true"
            tools:ignore="Instantiatable" />

        <activity
            android:name=".ui.ScanActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/Theme.NTMobileEntry.ScanActivity"
            tools:ignore="Instantiatable" />



<!--    COMPLETE ALL !!!    ==================-->

        <service
            android:name=".backend.BackendService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />




        <uses-library
            android:name="device.sdk"
            android:required="true" />

    </application>

</manifest>