{% extends "_layouts/cp" %}

{% do view.registerAssetBundle('modules\\uploadfeed\\assets\\UploaderAsset') %}

{% set title = "Uploader" %}

{% block content %}

  <div id="app"></div>
  {# {{ site }} #}

{% endblock %}