// see definitions at https://www.figma.com/file/UBD14Sn7Yd4VSWWa64DDWA/Messe---Component-Library?node-id=2%3A42

// Regular

@mixin copy-text-regular-19 {
  font-family: var(--finder-font-family-content);
  font-size: 19px;
  line-height: 166%;
  font-weight: 400;
  color: var(--finder-color-dark);
}

@mixin copy-text-regular-16 {
  font-family: var(--finder-font-family-content);
  font-size: 16px;
  line-height: 166%;
  font-weight: 400;
  color: var(--finder-color-dark);
}

@mixin copy-text-regular-14 {
  font-family: var(--finder-font-family-content);
  font-size: 14px;
  line-height: 166%;
  font-weight: 400;
  color: var(--finder-color-dark);
}

@mixin copy-text-regular-12 {
  font-family: var(--finder-font-family-content);
  font-size: 12px;
  line-height: 166%;
  font-weight: 400;
  color: var(--finder-color-dark);
}

// Bold

@mixin copy-text-bold-19 {
  font-family: var(--finder-font-family-content);
  font-size: 19px;
  line-height: 166%;
  font-weight: 700;
  color: var(--finder-color-dark);
}

@mixin copy-text-bold-16 {
  font-family: var(--finder-font-family-content);
  font-size: 16px;
  line-height: 166%;
  font-weight: 700;
  color: var(--finder-color-dark);
}

@mixin copy-text-bold-14 {
  font-family: var(--finder-font-family-content);
  font-size: 14px;
  line-height: 166%;
  font-weight: 700;
  color: var(--finder-color-dark);
}

@mixin copy-text-bold-12 {
  font-family: var(--finder-font-family-content);
  font-size: 12px;
  line-height: 166%;
  font-weight: 700;
  color: var(--finder-color-dark);
}
